{% block nav %}

    <nav>
        <ul class="nav">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Blog</li>
            <li>Privacy Policy</li>
        </ul>
        <button class="is-closed"></button>
    </nav>
    <script src="{{ asset('js/nav.js') }}"></script>
{% endblock nav %}