# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\User: bcrypt

    role_hierarchy:
      ROLE_ADMIN: [ROLE_ALLOWED_TO_SWITCH, ROLE_USER]

    # http://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        users:
          entity: { class: AppBundle\Entity\User, property: username }

    firewalls:

        main:
            anonymous: ~
            guard:
                  authenticators:
                   - app.security.login_form_authenticator
            logout:
                  path:   /logout

    access_control:
      - { path: ^/admin, roles: ROLE_ADMIN }

