<div class="col-lg-10 form">
        <h1>Sign in</h1>
        {{ form_start(authorizationType) }}
        {{ form_widget(authorizationType) }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(authorizationType) }}
</div>
