{{ form_start(removeArticleType) }}
{{ form_widget(removeArticleType) }}
                <div class="btn-group">
                        <button type="submit" class="btn btn-danger">Remove!</button>
                        <button href="#modal" class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                </div>
{{ form_end(removeArticleType) }}