{{ form_start(deleteCommentForm) }}
        {{ form_widget(deleteCommentForm) }}
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove-circle icon-danger">remove</span></button>
{{ form_end(deleteCommentForm) }}
