{{ form_start(newCommentForm, {'action': path('new_comment', {'article': article})}) }}
        {{ form_widget(newCommentForm) }}
<button type="submit" class="btn btn-success"><span>Save</span></button>
{{ form_end(newCommentForm) }}
