#topo {
    z-index: 15;
    background-color: #FFF;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;
    opacity: 0.9;

 }#menu-topo{
      border-top: 1px solid black;
      text-align: center;
      padding: 0;
  }#menu-topo li{
       width: 100%;
       list-style: none;
   }#menu-topo li:hover{
    }#menu-topo li a{
         display: block !important;
         width: 100%;
         font-size: 1.5em;
         padding:1% 0;
         font-weight: bold;
         color: gray;
     }#menu-topo li a:hover{
          background-color:#D6D6DC;
          text-decoration: none;
      }.btn-collapse {
           width: 50px;
           height: 50px;
           position: relative;
           padding:0.5% 1%;
           float: right;
           margin-top: 3.5%;
       }.lista-collapse {
            width: 100%;
            height: 5px;
            background-color: gray;
            -ms-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            position: absolute;
        }.lista-collapse:nth-child(1){top:0;}
.lista-collapse:nth-child(2){top:14px;}
.lista-collapse:nth-child(1){top:25px;}

.botao-lista-cima {
    -ms-transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
}.botao-lista-baixo {
     -ms-transform: rotate(50deg);
     -webkit-transform: rotate(50deg);
     -moz-transform: rotate(50deg);
     transform: rotate(50deg);
 }.hidden {
      visibility: hidden;
  }.lista-collapse.botao-lista-cima {
       top: 5px;
   }.lista-collapse.botao-lista-baixo {
        top: 5px;
    }
.dropdown-menu {
    left: 62%;
    margin-top: -20px;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}