body{
    background: white;
    font-family: 'Concert One', cursive;

}

.container{
    overflow: inherit;

}

.main{
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 10px;
    overflow-x:hidden;
}
 a {
    color: black;
    text-decoration: none;
}
.pagination>li>a{
    color: black;
    text-decoration: none;
}

.article{
    background: white;
}

.article:hover{
    background: lavender;
}

.top-articles{
    display:inline-block;
}
.comment{
    display:inline-block;
}

 div.comment div:nth-child(2n){
    background: rgba(240, 241, 246, 0.91);
}

.image-logo {
    margin: 0 auto;
    height: 450px;
}
