body{
    font-family: 'Concert One', cursive;
    background-image: url("../img/bg.png");
}

.container{
    overflow: inherit;
}

.articles{
    margin-top: 100px;
}

.main{
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 25px;
    padding: 10px;
    overflow-x:hidden;
}
 a {
    color: black;
    text-decoration: none;
}
.pagination>li>a{
    color: black;
    text-decoration: none;
}


.top-articles{
    display:inline-block;
}
.comment{
    display:inline-block;
}

 div.comment div:nth-child(2n){
    background: rgba(240, 241, 246, 0.91);
}
