{% extends 'base.html.twig' %}


{% block main %}
    <div class="col-lg-9 main">
        <h1>Edit article</h1>
        {{ form_start(articleType) }}
        {{ form_widget(articleType }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(articleType) }}
    </div>

        {% block topnews %}
            {{ render(controller('AppBundle:Article:topArticles')) }}
        {% endblock %}

{% endblock %}
