{% extends 'base.html.twig' %}


{% block main %}
    <div class="col-lg-8 main">
        <h1>New article</h1>
        {{ form_start(articleForm) }}
        {{ form_widget(articleForm) }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        {{ form_end(articleForm) }}
    </div>
        {% block topnews %}
            {{ render(controller('AppBundle:Article:topArticles')) }}
        {% endblock %}
{% endblock %}
